body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: blue;
  background-image: url(http://icons.iconarchive.com/icons/musett/dragon-ballz/256/Dragon-Ball-icon.png);
  background-repeat: no-repeat;
  background-position: 50% 20%;
}
